.modelStyles {
  :global {
    .ant-form-item {
      margin-bottom: 5px;
    }
    .ant-modal-header {
      background: #46a6ff;
    }
    .ant-modal-title {
      line-height: 10px;
    }
    .ant-modal-close-x {
      line-height: 42px;
    }
    .ant-table-tbody > tr.ant-table-row-selected td {
      background-color: #e6f7ff;
    }
    .ant-table .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
      background-color: #ccc;
    }
    .ant-pro-grid-content {
      margin: 1px;
      margin-top: -12px;
    }
    .ant-pro-grid-content-children {
      margin-right: -12px;
      margin-left: -11px;
    }
    .ant-pro-table-search {
      margin-bottom: 5px;
      padding: 5px;
      padding-bottom: 0;
      background: rgb(188, 188, 188);
    }
    .ant-card-body {
      padding: 10px;
    }
  }
}
